<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.babiran.app">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <permission
        android:name="com.paratic.paratic.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.paratic.paratic.permission.C2D_MESSAGE" />

    <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">

        <activity
            android:name=".BlankAcct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".To_Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sms_Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SlidesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".productInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuideUsageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommonQuestionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityComments"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name=".MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FactorList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="www.babiran.net" android:scheme="http" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ActivityPay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Actip2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--     <receiver android:name=".SMSReceiver">
                 <intent-filter>
                     <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                 </intent-filter>
             </receiver>-->

        <activity
            android:name=".Rss.ListRssActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rss.ShowRssActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rss.FullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rss.MainListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SharjActivity" />
        <activity
            android:name=".Sefaresh.ListFoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sefaresh.ShowActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d56deeb1bf1561fba28fbbd41c447375837bfff4" />

        <activity android:name=".Sharj.SharjHistoryActivity" />
        <activity android:name=".Rss.RsListActivity" />
        <activity android:name=".Rss.SettingActivity" />
        <activity
            android:name=".Ticket.MainTabs"
            android:label="@string/title_activity_main_tabs" />
        <activity android:name=".Ticket.Activity.ListShowActivity" />
        <activity android:name=".Ticket.Activity.ShowDetileActivity" />
        <activity android:name=".Ticket.Activity.ShowFinalActivity" />
        <activity android:name=".Rss.ListActivity" />

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.paratic.paratic"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.paratic.paratic" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_916617786780" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="Tm9uZQ==" />

        <activity android:name=".Rss.ListtoListActivity" />
        <activity android:name=".Rss.FavListActivity" />
        <activity android:name=".Rss.LastListActivity" />
        <activity android:name=".CreditActivity" />

        <service
            android:name="tools.MyPushListener"
            android:exported="false">
            <intent-filter>
                <action android:name="co.ronash.pushe.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="receiver.SMSListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>